extends layout
block content
  h1= title
  - let vehicleid = toShow._id
  - let vehicle_type = toShow.vehicle_type
  - let vehicle_color = toShow.vehicle_color
  - let vehicle_price  = toShow.vehicle_price
    div
      div.row
        div(class='vehicleAttr mr-3') vehicle ID:
        div #{vehicleid}
      div.row
        div(class='vehicleAttr mr-3') vehicle_type:
        div #{vehicle_type}
      div.row
        div(class='vehicleAttr mr-3') vehicle_color:
        div #{vehicle_color}
      div.row
        div(class='vehicleAttr mr-3') vehicle_price:
        div #{vehicle_price}