extends layout
block content
 h1= title
 - let items = results;
 - let destination = `dispatch("/vehicle/create")`
   button.btn( class="btn-primary ml-1", onclick= destination) Create vehicle 
   each item in items
    - let destination1 = `dispatch("/vehicle/update?id=${item._id}")`
    - let destination2 = `dispatch("/vehicle/detail?id=${item._id}")`
    - let destination3 = `dispatch("/vehicle/delete?id=${item._id}")`
      div
       p vehicle_type  - #{item.vehicle_type}
       p vehicle_color  - #{item.vehicle_color}
       p vehicle_price - #{item.vehicle_price}
       button.btn( class="btn-primary ml-1", onclick= destination1) Update
       button.btn( class="btn-primary ml-1", onclick= destination2) Detail
       button.btn( class="btn-primary ml-1", onclick= destination3) Delete
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }