extends layout
block content
 h1= title
 - let items = results;
   each item in items
    - let destination = `dispatch("/vehicle/update?id=${item._id}")`
      div
       p vehicle_type  - #{item.vehicle_type}
       p vehicle_color  - #{item.vehicle_color}
       p vehicle_price - #{item.vehicle_price}
       button.btn( class="btn-primary ml-1", onclick= destination) Update
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }